html{
  background-color: rgb(86, 155, 86);
}
.container{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto ;
  background-color: whitesmoke;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
.mycontent{
  border-top: 1px solid rgb(204, 212, 195);
  border-bottom: 1px solid rgb(168, 197, 175);
}
.main-area{
  width: 65%;
  float: left ;
  padding-right: 40px;
  box-sizing: border-box;
}
.sidebar{
  width: 35%;
  float: right;
  background-color: rgb(201, 214, 174);
  padding: 20px 40px ;
  box-sizing: border-box;
  font size: 90%;
}
.group::before,
.group::after{
  content: "";
  display: table;
  
}
.group::after{
  clear: both;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
  padding-top: 20px;
  color: rgb(86, 155, 86);
}
header h1{
  margin: 0;
}
header p {
  margin: 0;
}
footer{
  text-align: center;
  color: #999;
  font-size: 90%;
  padding-bottom: 20px;
}
/* site navigation */
.site-nav a:hover{
  background-color:rgb(201, 214, 174) ;
}
.site-nav a{
  text-decoration: none;
  display: block;
  color:rgb(86, 155, 86);
  padding: 5px 10px;
  border: 3px solid rgb(201, 214, 174);
  margin-bottom: 5px;
}
.site-nav{
  margin-top: 20px;
}
.site-nav ul{
  margin: 0;
  padding: 0;
}
.site-nav li{
  list-style: none;
  float: left;
  margin: 5px;
}
/* navigations ends */